*.a
*.o
ANNOUNCEMENT
AUTOFILES
ChangeLog
Makefile
README
SRCFILES
TARGETS
compile
load
makelib
ucspi-proxy
ucspi-proxy-http-xlate
ucspi-proxy-http-xlate.1.html
ucspi-proxy-imap
ucspi-proxy-log
ucspi-proxy-pop3
ucspi-proxy.1.html
